/*   Import de la police   */
@font-face {
  font-family: "Calibril";
  src: url("../../public/assets/fonts/calibril.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Règles de généralités notamment pour les formulaires*/

/*   input du form.   */
/*   Suppression de l'autofill sur les balises input   */
.public-layout input[type="email"]:-webkit-autofill,
.public-layout input[type="email"]:-webkit-autofill:hover,
.public-layout input[type="email"]:-webkit-autofill:focus,
.public-layout input[type="email"]:-webkit-autofill:active {
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  opacity: 70%;

}

.public-layout input[type="password"]:-webkit-autofill,
.public-layout input[type="password"]:-webkit-autofill:hover,
.public-layout input[type="password"]:-webkit-autofill:focus,
.public-layout input[type="password"]:-webkit-autofill:active {
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  opacity: 70%;

}

.public-layout input[type="text"]:-webkit-autofill,
.public-layout input[type="text"]:-webkit-autofill:hover,
.public-layout input[type="text"]:-webkit-autofill:focus,
.public-layout input[type="text"]:-webkit-autofill:active {
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  opacity: 70%;

}

/*   Généralités pour les inputs   */

.public-layout input[type="text"],
.public-layout input[type="text"]::placeholder {
  color: white;
  background-clip: text;
  -webkit-text-fill-color: #ffffff;
  opacity: 70%;

}

.public-layout input[type="text"] {
  border-bottom: solid  1px white;
  opacity: 70%;

}

.public-layout input[type="email"],
.public-layout input[type="email"]::placeholder {
  color: white;

  min-height: 20px;
  max-height: 30px;

  min-width: 80%;
  max-width: 100%;

  opacity: 70%;
  padding: 4px 4px 4px 4px;

  
}

.public-layout input[type="password"],
.public-layout input[type="password"]::placeholder {
  color: white;

  min-height: 20px;
  max-height: 30px;

  min-width: 80%;
  max-width: 100%;
  opacity: 70%;
  padding: 4px 4px 4px 4px;
}

.public-layout input[type="text"],
.public-layout input[type="text"]::placeholder {
  min-height: 20px;
  max-height: 30px;

  padding: 4px 4px 4px 4px;
}

/*     Bouton BLEU "Création de votre compte"    */

/*   Définition police du composant en: Calibri Light ( imported ) */

.calibri {
  font-family: "calibril";
  letter-spacing: 2.2px;
}

/*     Style / comportement de la checkbox     */
/*  Comportement de la checkbox  */

.checkboxRegisterLogin input {
  display: none;
}

.checkboxRegisterLogin label {
  display: flex;
  align-items: center;
}

/*  Bordure de la checkbox  */

.checkboxRegisterLogin .checkbox-border {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

/*   ::after   */

.checkboxRegisterLogin .checkbox-border::after {
  display: block;
  content: "";
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  opacity: 0;
  background: whitesmoke;
  transition: 0.2s;
}

/*   Une fois checked   */

.checkboxRegisterLogin input:checked + label .checkbox-border {
  border: solid 2px whitesmoke;
}

.checkboxRegisterLogin input:checked + label .checkbox-border::after {
  opacity: 1;
  width: 16px;
  height: 16px;
}

.checkboxRegisterLogin input:checked + .checkbox-label {
  color: purple;
}

/*  Opacité de la checkbox  */

/*   Input du form.   */

#username,
#prenom,
#nomDeFamille {
  color: white;

  background: rgba(0, 0, 0, 0);

  border-bottom: white solid 1px;
}
