.fullBackground {
  background-image: url(https://i.pinimg.com/originals/b2/bd/84/b2bd8481244584645d454911edb42549.jpg);
  background-repeat: no-repeat;
  background-size:cover;

  display: flex;
  flex-flow: column wrap;
  align-items:center;
  justify-content: center;

  min-height: 1400px;
  
  padding-bottom: 400px;
  
}

.accountContainer {
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
justify-content: center;

background:rgba(0, 0, 0, 0.7);
backdrop-filter: blur(4px);

color: white;

height: 500px;
width: 30%;


max-width: 65%;

gap: 25px;

padding-left: 24px;
padding-right: 24px;
padding-bottom: 30px;
padding-top: 23px;

border-radius: 7px;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 12px;
}

.textLogin {
font-weight: bold;
padding-bottom: 20px;


}

.sloganLogin {
  color: white;
  font-size: 22px;

  padding-bottom: 80px;

}

  /*   Boutton de login BLEU   */
.buttonLogin {
  display: flex;
  
  color: white;
  background-color:  #005BA9;

  padding: 1px 3px 4px 40px;

  height: 27px;

  width: 170px;
  
}

.buttonLogin:hover {
  border: black solid 2px;
}

