@keyframes  rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    };
}

@keyframes rotateIImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scale {
    0% {
        transform: translateY(0px);
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        transform: translateY(-10px);
    }
}
@keyframes notScale {
    0% {
        transform: scale(1.5);
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
        transform: scale(1);
    }
}
  /* Listes déroulantes */




/* ----------------------------------------------------------------------------------------------------------

    Initialisation
*/
        /*     Container Principal     */
            .initBackgroundContainer1 {
                display: flex;
                flex-flow: row;
                align-items: baseline;
                justify-content: space-around;
                position: relative;

                color:white;

                background-image: url(../../../public/assets/images/background/astrid-rendu-astrid-vercammen.jpg);
                background-repeat: no-repeat;
                background-size:cover;

                min-height: 1400px;
                min-width: 200px
            }
            .initInitialisationContainer {
                display: flex;
                flex-flow: column;
                align-items: center;
            }
            /*     Titre de la page    */
            .initTitle {
                position: static;
                
                padding-top: 10%;
                padding-bottom: 30px;
            }

            /*     Containers des colonnes de la page    
                /*     Container principal des titres + listes*/

                /*     Container qui prend en compte l'initialisation de la phrase       */
                .initContainer {
                    color:white;
                }


            /*     Container de la phrase avec mandala de fond     */

                .initValidationContainer {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                
                    /*gap: 200px;*/
                }
                    /*     Titre du container de validation     */
                    
                    .initTitleValidationContainer {
                        display: flex;
                        flex-flow: row nowrap;
                        gap: 20px;
                    }
                    /*     Container de l'Element mobile     */

                    .initElementContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 300px;

                        position: relative;
                        overflow: visible;
                        background-image: url(../../../public/assets/images/element/1409-rose_des_vents.png);
                        background-size: 40%;
                        background-position: center;
                        background-repeat: no-repeat;
                        animation: rotateImage 30s infinite linear;
                    
                        min-width: 50%;
                    }

                    /*     Pour fixer la phrase et qu'elle ne soit pas affectée par la rotation     */

                    .initButtonContainer {
                        position: absolute;
                        top: 1000px;    
                    }

                    /*     Pour fixer la phrase et qu'elle ne soit pas affectée par la rotation     */
                    .initFixPhrase {
                        animation: rotateIImage 30s infinite linear;
                    }

                    /*     Phrase choisie   */
                    .initPhrase {
                        width: 600px;
                        height: 100px;

                        font-size: 20px;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 15%;

                        gap: 80px;
                    }
                    /*       Styles pour chaque mots       */
                    .init5Word {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        font-size: x-large;
                    }

                    .init5Word:hover {
                       /* animation: scale 0.5s ease-in-out forwards;*/
                    }
                    .init5Word:not(:hover) {
                        /*animation: notScale 0.5s ease-in-out forwards;*/
                    }

                    .p {
                        font-size: 130px;
                        position: absolute;
                    }
                    /*   Active pour listes   */
                    #position-0:active {
                        animation: scale 0.5s ease-in-out forwards;
                    }
                    .init5Word .position-1:active {

                    }
                    .init5Word .position-2:active {

                    }
                    .init5Word .position-3:active {

                    }
                    .init5Word .position-4:active {

                    }
                    
        /*          

                SLIDER Liste de mots ---------------------------------------------------------
        
        */

            /*  Style de base des containers  */
        
                .initContainerVisible {
                    position: relative;
                    padding-top: 17%;
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;
                    justify-content: center;
                    height: 350px;
                    width: 800px;

                    overflow: hidden;
                }

                .initContainerContent {
                    position: absolute;
                    display: flex;
                    width:500%;
                /*     gap: 600px; */
                    left: 0;
                }                           
                
            /*
            Containers de content 1-2-3-4-5 
            */

            .initContainerContent.position-1 {
                transform: translateX(0%);
                transition: transform 0.5s ease-in-out;
            }
            .initContainerContent.position-2 {
                transform: translateX(-20%);
                transition: transform 0.5s ease-in-out;
            }
            .initContainerContent.position-3 {
                transform: translateX(-40%);
                transition: transform 0.5s ease-in-out;
            }
            .initContainerContent.position-4 {
                transform: translateX(-60%);
                transition: transform 0.5s ease-in-out;
            }
            .initContainerContent.position-5 {
                transform: translateX(-80%);
                transition: transform 0.5s ease-in-out;
            }  
                .initContainerContentX {
                    display: flex;
                    flex-flow: row ;    
                    width:100%;
                    justify-content: center;
                    /*gap: 200px;*/               
                    animation-play-state: paused; 
                }
                /*       Flèches des listes       */
                    
                    #arrowLeft {
                        position: absolute;

                        left: 18%;
                        top: 46%;

                        width: 100px;
                        height: 100px;

                        z-index: 13;

                    }
                    .initRightArrow {
                        position: absolute;

                        right: 18%;
                        top: 46%;

                        width: 100px;
                        height: 100px;

                        z-index: 13;

                    }

            /*
            
                Fin Liste de mots ---------------------------------------------------------
            
            */

            
            /*     Boutton de validation de la phrase     */

            .initbtn {
                min-width: 350px;
            }
            

            /*  Règles pour Select  */

            select {
                width: 100px;
                height: 25px;

                background-color: transparent;

                border: solid 2px black;
                border-radius: 13px;
            }


       

            .initWord, .initRoute, .initMethod{
                position:relative;
                flex:1;

            }
            .initWord h3, .initRoute h3, .initMethod h3{
                width:100%;
                text-align: center;
                
            }
            /*      Liste déroulantes      */

            .initUl {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                list-style-type: none;

                padding: 0;
                margin: 0;
                height: 300px;
                width: 180px;
                left:calc(50% - 75px);
                background: transparent;
                border: 0px solid blue;
                border-radius: 5px;
                position: absolute;
                z-index: 10;
                padding-top:30px;
            /*    overflow: hidden;*/
            
            /*    display: none; /*  Caché par défaut */
                position: absolute;
            }

            .initLiContainer {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
            }

            .initUl:active {
                display: block;
            }

            .initLi {
                position: relative;
                width: 150px;
                background-color: transparent;
                border: 1px solid black;
                color: black /*#333*/;
                transition: transform 0.3s ease-in-out, background 0.2s ease-in-out;
                /*left: 20px;*/
                padding: 8px;

                opacity: 1;
                visibility: visible;
         /*       transform:translateY(-10px);
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;*/

            }

            .initUl:hover .initLi {
               /* top: 30px;
                left: -30px; */

                opacity: 1;
                visibility: visible;
               
/*  À peut-être supprimer   */ transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
            }
            .initLi:hover {
               /* left:0; */
                background: white;
                font-size: large;
                cursor: pointer;
                
                transform: scale(1.2);
            }

            .initLi:active {
                background: wheat;
            }



/* -----------------------------------------------------------------------------------------------------------
        
        Waiting Oponnent Deck
*/
    /*     Container Principal     */
        .waitBackgroundContainer2 {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            color:pink;

            background-image: url(../../../public/assets/images/background/launchbackground_upscale.webp);
            background-repeat: no-repeat;
            background-size:cover;

            min-height: 1000px;
        }

        .waitContainer {
            display: flex;
            flex-flow: column wrap;
            gap: 30px;
        }

        .waitTitle {
            position: absolute;
            padding-bottom: 40%;
        }

        .waitPhrase {

        }