@keyframes 

    rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    };
}

@keyframes rotateIImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/*     Container Principal     */

.backgroundContainer1 {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-around;

    color:white;

    background-image: url(../../../public/assets/images/background/launchbackground_upscale.webp);
    background-repeat: no-repeat;
    background-size:cover;

    min-height: 1000px;
    min-width: 200px
}

.backgroundContainer2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    color:white;

    background-image: url(../../../public/assets/images/background/launchbackground_upscale.webp);
    background-repeat: no-repeat;
    background-size:cover;

    min-height: 1000px;
}

/*     Titre de la page    */

.title {
    padding-top: 10%;
    padding-bottom: 30px;
}

/*     Containers des colonnes de la page    
    /*     Container principal des titres + listes*/

    /*     Container qui prend en compte l'initialisation de la phrase       */
    .initialisationContainer {
        color:white;
    }
        /*  Liste des mots  */

        .listLaunchContainer {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;

            min-width: 450px;
            gap: 70px;
        }


/*     Container de la phrase avec mandala de fond     */

    .validationContainer {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    
        gap: 200px;
    }
        /*     Titre du container de validation     */
        
        .titleValidationContainer {
            display: flex;
            flex-flow: row nowrap;
            gap: 20px;
        }
        /*     Container de l'Element mobile     */

        .elementContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 300px;

            position: relative;
            overflow: visible;
            background-image: url(../../../public/assets/images/element/1409-rose_des_vents.png);
            background-size: 105%;
            background-position: center;
            background-repeat: no-repeat;
            animation: rotateImage 30s infinite linear;
        
            min-width: 50%;
        }
        /*     Pour fixer la phrase et qu'elle ne soit pas affectée par la rotation     */
        .fixPhrase {
            animation: rotateIImage 30s infinite linear;
        }

        /*     Phrase choisie   */


        /*     Boutton de validation de la phrase     */

        .buttonLaunch {
            color: white;
            width: 200%;
        }
        

button[type="submit"]{
    max-width: 250px;
}

/*  Règles pour Select  */
select {
    width: 100px;
    height: 25px;

    background-color: cadetblue;

    border: solid 2px black;
    border-radius: 13px;
}

/*     Element mobile      */


/*     A supprimer     

.element {
    position: fixed;

    background-size:absolute;
    background-image: url(../../../public/assets/images/element/2-flower-mandala.png);
   

    height: 300px;
    width: 350px;

}

        Container qui contient mon element mobile    

    .container {
        position: relative;

        width:100vw;
        height: 100vh;
    }

    */