* {
    color:white;
    
}

h1 {
    letter-spacing: 2px;
}

.registerButton{
  color: white;
  background-color:  #005BA9;

  padding: 1px 3px 4px 40px;

  height: 27px;

  width: auto;
}
.name {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;

}
.containerRegister {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    background:rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    height: 500px;
    gap: 18px;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    padding-top: 23px;

    border-radius: 5px;
}
.phraseRegister {
    font-size: 12px;
}

.registerText {
    font-weight: bold;
    font-size: x-large;
    
}

.containerFacultatif {
    display: flex;
    gap: 25%;
    
}

.fullBackgroundRegister {
    background-image: url(https://wallpaperaccess.com/full/6303195.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;   
    
    padding-bottom: 400px;

    height: 2000px;
}


#ndfRegister, #prenomRegister {
    min-width: 220px;
}

.facultatif {
    font-style: italic;
    color: red;
    font-size: 12px;
}