* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/*Règles de généralités pour les input notament pour les formulaires*/

input[type="email"],input[type="email"]::placeholder {
    color: black;

    min-height: 20px;
    max-height:30px;

    
    min-width: 80%;
    max-width: 100%;

    background-color: #D9D9D9;
    padding: 4px 4px 4px 4px;

    border-radius: 3.5px;
  }

input[type="password"], input[type="password"]::placeholder {
    color: black;

    min-height: 20px;
    max-height:30px;

   
    min-width: 80%;
    max-width: 100%;

    background-color: #D9D9D9;
    padding: 4px 4px 4px 4px;

    border-radius: 3.5px;
}

input[type="text"], input[type="text"]::placeholder {
    color: black;

    min-height: 20px;
    max-height:30px;
    
    

    background-color: #D9D9D9;
    padding: 4px 4px 4px 4px;

    border-radius: 3.5px;
}

/*Background image*/
