.public-layout h1 {
  letter-spacing: 2px;
}

/*   Backdground de la page   */

.fullBackgroundRegister {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(https://wallpaperaccess.com/full/6303195.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

/*   Containers   */

.accountCreatedContainer {
  border-top: whitesmoke 1px solid;
  border-bottom: whitesmoke 1px solid;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 4%;
  padding-right: 4%;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);

  height: 500px;
  max-width: 65%;

  gap: 18px;

  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;
  padding-top: 23px;

  border-radius: 7px;
}

.facultatifContainer {
  display: flex;
  gap: 25%;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.phraseRegister {
  font-size: 13px;
  letter-spacing: 1px;
}

/*   Texte facultatif en italique rouge   */

.facultatif {
  font-style: italic;
  color: red;
  font-size: 13.5px;
  letter-spacing: 1px;
}

#nomDeFamille,
#prenom {
  min-width: 40%;
}

/*   Textes affichés   */

#textRegister1 {
  font-weight: bold;
  font-size: 30px;
}

#textRegister2 {
  font-weight: bold;
  font-size: x-large;
  padding-left: 5%;
}

.public-layout input[type="password"]/*input[type="password"]:-webkit-autofill */ {
  color: white;
  background: rgba(0, 0, 0, 0);
  border-bottom: white solid 1px;
}
